body {
    font-family: 'Baloo Thambi 2', cursive;
    margin: 0;
    background-color: #11489E;
}

h1 {
    font-size: 300%;
}

/* main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('https://picsum.photos/1600/1050');
    background-size: cover;
    background-position: center;
} */

.weather-info {
    transition-duration: .5s;
    transition-property: opacity;
}

.weather-info__search-view {
    margin: 33vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 700px;
    padding: 5%;
    color: white;
    background-color: #2672EB;
    box-shadow: 3px 4px 30px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.weather-info__search-view label {
    font-size: 200%;
}

.weather-info__search-view input {
    padding: 10px;
    border: 2px solid black;
    font-size: 150%;
    text-align: center;
}

/* .weather-info__search-view button {
    padding: 10px 50px;
    border: 2px solid black;
    font-size: 100%;
} */

.weather-info__forecast-view {
    display: none;
}

.weather-info__city {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-info__btn-return {
    padding: 5px 25px;
    border: 2px solid black;
}

/* -------------------------------------------------------------------------------------------------------------- */

*, *::after, *::before {
    box-sizing: border-box;
}

h1 {font-size: 23px;}
h2 {font-size: 22px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 12px;}
h6 {font-size: 10px;}

.container{
    display: flex;
    margin: 0 auto;
    width: 96%;
}

.searchInput {
    border-radius: 5px;
}

.searchButton {
    background-color: #3DEB98;
    color: white;
    border-radius: 5px;
}

.searchButton:hover {
    cursor: pointer;
}

.weather-info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.townIcon {
    height: 56px;
    width: 56px;
    background: url('../img/town.png') center center / cover no-repeat;
}